<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aangps01.hallochat">

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PsikiaterMainActivity"></activity>
        <activity android:name=".ChatHistory" android:screenOrientation="portrait"/>
        <activity android:name=".MessageUser" android:screenOrientation="portrait"/>
        <activity android:name=".SelectPsikiater" android:screenOrientation="portrait"/>
        <activity android:name=".AdminMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".WelcomeTwo" android:screenOrientation="portrait"/>
        <activity android:name=".WelcomeOne" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>